.theme-083 {
  --background: oklch(0.9734 0.0093 62.5873);
  --foreground: oklch(0.2741 0.0349 170.7667);
  --card: oklch(0.9734 0.0093 62.5873);
  --card-foreground: oklch(0.2741 0.0349 170.7667);
  --popover: oklch(0.9734 0.0093 62.5873);
  --popover-foreground: oklch(0.2741 0.0349 170.7667);
  --primary: oklch(0.368 0.0643 184.0385);
  --primary-foreground: oklch(0.9734 0.0093 62.5873);
  --secondary: oklch(0.6734 0.1427 48.7935);
  --secondary-foreground: oklch(0.9734 0.0093 62.5873);
  --muted: oklch(0.9523 0.0169 61.9562);
  --muted-foreground: oklch(0.548 0.061 70.4426);
  --accent: oklch(0.9248 0.0221 58.7703);
  --accent-foreground: oklch(0.2741 0.0349 170.7667);
  --destructive: oklch(0.5195 0.1385 27.3082);
  --destructive-foreground: oklch(0.9734 0.0093 62.5873);
  --border: oklch(0.9248 0.0221 58.7703);
  --input: oklch(0.9248 0.0221 58.7703);
  --ring: oklch(0.6734 0.1427 48.7935);
  --chart-1: oklch(0.9248 0.0221 58.7703);
  --chart-2: oklch(0.6734 0.1427 48.7935);
  --chart-3: oklch(0.5195 0.1385 27.3082);
  --chart-4: oklch(0.368 0.0643 184.0385);
  --chart-5: oklch(0.2741 0.0349 170.7667);
  --sidebar: oklch(0.9734 0.0093 62.5873);
  --sidebar-foreground: oklch(0.2741 0.0349 170.7667);
  --sidebar-primary: oklch(0.368 0.0643 184.0385);
  --sidebar-primary-foreground: oklch(0.9734 0.0093 62.5873);
  --sidebar-accent: oklch(0.9248 0.0221 58.7703);
  --sidebar-accent-foreground: oklch(0.2741 0.0349 170.7667);
  --sidebar-border: oklch(0.9248 0.0221 58.7703);
  --sidebar-ring: oklch(0.6734 0.1427 48.7935);
}

.dark.theme-083 {
  --background: oklch(0.1727 0.0211 172.6477);
  --foreground: oklch(0.9734 0.0093 62.5873);
  --card: oklch(0.1727 0.0211 172.6477);
  --card-foreground: oklch(0.9734 0.0093 62.5873);
  --popover: oklch(0.1727 0.0211 172.6477);
  --popover-foreground: oklch(0.9734 0.0093 62.5873);
  --primary: oklch(0.368 0.0643 184.0385);
  --primary-foreground: oklch(0.9734 0.0093 62.5873);
  --secondary: oklch(0.6734 0.1427 48.7935);
  --secondary-foreground: oklch(0.9734 0.0093 62.5873);
  --muted: oklch(0.2741 0.0349 170.7667);
  --muted-foreground: oklch(0.5932 0.0757 170.8559);
  --accent: oklch(0.5195 0.1385 27.3082);
  --accent-foreground: oklch(0.9734 0.0093 62.5873);
  --destructive: oklch(0.5195 0.1385 27.3082);
  --destructive-foreground: oklch(0.9734 0.0093 62.5873);
  --border: oklch(0.368 0.0643 184.0385);
  --input: oklch(0.368 0.0643 184.0385);
  --ring: oklch(0.6734 0.1427 48.7935);
  --chart-1: oklch(0.368 0.0643 184.0385);
  --chart-2: oklch(0.5195 0.1385 27.3082);
  --chart-3: oklch(0.6734 0.1427 48.7935);
  --chart-4: oklch(0.9248 0.0221 58.7703);
  --chart-5: oklch(0.9734 0.0093 62.5873);
  --sidebar: oklch(0.2165 0.0279 170.9332);
  --sidebar-foreground: oklch(0.9734 0.0093 62.5873);
  --sidebar-primary: oklch(0.368 0.0643 184.0385);
  --sidebar-primary-foreground: oklch(0.9734 0.0093 62.5873);
  --sidebar-accent: oklch(0.5195 0.1385 27.3082);
  --sidebar-accent-foreground: oklch(0.9734 0.0093 62.5873);
  --sidebar-border: oklch(0.368 0.0643 184.0385);
  --sidebar-ring: oklch(0.6734 0.1427 48.7935);
}
