.theme-095 {
  --background: oklch(0.9643 0.0083 271.3283);
  --foreground: oklch(0.2525 0.045 219.7816);
  --card: oklch(0.9437 0.0138 272.6878);
  --card-foreground: oklch(0.2525 0.045 219.7816);
  --popover: oklch(0.9437 0.0138 272.6878);
  --popover-foreground: oklch(0.2525 0.045 219.7816);
  --primary: oklch(0.4197 0.0736 213.3284);
  --primary-foreground: oklch(0.9643 0.0083 271.3283);
  --secondary: oklch(0.6421 0.0832 207.7727);
  --secondary-foreground: oklch(0.9643 0.0083 271.3283);
  --muted: oklch(0.8802 0.0299 271.0632);
  --muted-foreground: oklch(0.4441 0.0688 263.9315);
  --accent: oklch(0.8564 0.0544 94.4758);
  --accent-foreground: oklch(0.4197 0.0736 213.3284);
  --destructive: oklch(0.6284 0.1949 13.1504);
  --destructive-foreground: oklch(0.9936 0.0034 354.6882);
  --border: oklch(0.8802 0.0299 271.0632);
  --input: oklch(0.8802 0.0299 271.0632);
  --ring: oklch(0.8165 0.0847 48.4093);
  --chart-1: oklch(0.889 0.0852 216.6261);
  --chart-2: oklch(0.7909 0.1386 213.3807);
  --chart-3: oklch(0.6334 0.1108 213.0144);
  --chart-4: oklch(0.5605 0.0982 213.2443);
  --chart-5: oklch(0.4197 0.0736 213.3284);
  --sidebar: oklch(0.9437 0.0138 272.6878);
  --sidebar-foreground: oklch(0.2525 0.045 219.7816);
  --sidebar-primary: oklch(0.4197 0.0736 213.3284);
  --sidebar-primary-foreground: oklch(0.9643 0.0083 271.3283);
  --sidebar-accent: oklch(0.8564 0.0544 94.4758);
  --sidebar-accent-foreground: oklch(0.4197 0.0736 213.3284);
  --sidebar-border: oklch(0.8802 0.0299 271.0632);
  --sidebar-ring: oklch(0.8165 0.0847 48.4093);
}

.dark.theme-095 {
  --background: oklch(0.1725 0.0311 218.5301);
  --foreground: oklch(0.9643 0.0083 271.3283);
  --card: oklch(0.2365 0.0412 216.8516);
  --card-foreground: oklch(0.9643 0.0083 271.3283);
  --popover: oklch(0.2525 0.045 219.7816);
  --popover-foreground: oklch(0.9643 0.0083 271.3283);
  --primary: oklch(0.6421 0.0832 207.7727);
  --primary-foreground: oklch(0.9643 0.0083 271.3283);
  --secondary: oklch(0.4197 0.0736 213.3284);
  --secondary-foreground: oklch(0.9643 0.0083 271.3283);
  --muted: oklch(0.3223 0.0571 218.818);
  --muted-foreground: oklch(0.8062 0.0485 269.5257);
  --accent: oklch(0.4197 0.0736 213.3284);
  --accent-foreground: oklch(0.8564 0.0544 94.4758);
  --destructive: oklch(0.6284 0.1949 13.1504);
  --destructive-foreground: oklch(0.1888 0.0139 1.8685);
  --border: oklch(0.3223 0.0571 218.818);
  --input: oklch(0.3223 0.0571 218.818);
  --ring: oklch(0.8564 0.0544 94.4758);
  --chart-1: oklch(0.3924 0.0696 219.3628);
  --chart-2: oklch(0.5418 0.0955 218.0118);
  --chart-3: oklch(0.7002 0.1239 218.6207);
  --chart-4: oklch(0.8889 0.0739 222.5667);
  --chart-5: oklch(0.9543 0.0275 229.1572);
  --sidebar: oklch(0.1731 0.032 221.9362);
  --sidebar-foreground: oklch(0.9643 0.0083 271.3283);
  --sidebar-primary: oklch(0.6421 0.0832 207.7727);
  --sidebar-primary-foreground: oklch(0.9643 0.0083 271.3283);
  --sidebar-accent: oklch(0.4197 0.0736 213.3284);
  --sidebar-accent-foreground: oklch(0.8564 0.0544 94.4758);
  --sidebar-border: oklch(0.3223 0.0571 218.818);
  --sidebar-ring: oklch(0.8165 0.0847 48.4093);
}
