.theme-187 {
  --background: oklch(0.964 0.0045 34.3095);
  --foreground: oklch(0.2108 0.1142 275.0885);
  --card: oklch(0.9769 0.0011 17.1781);
  --card-foreground: oklch(0.2108 0.1142 275.0885);
  --popover: oklch(0.9769 0.0011 17.1781);
  --popover-foreground: oklch(0.2108 0.1142 275.0885);
  --primary: oklch(0.6446 0.1907 12.487);
  --primary-foreground: oklch(0.964 0.0045 34.3095);
  --secondary: oklch(0.9209 0.0124 29.8721);
  --secondary-foreground: oklch(0.2108 0.1142 275.0885);
  --muted: oklch(0.9406 0.0017 67.8016);
  --muted-foreground: oklch(0.5784 0.004 39.4636);
  --accent: oklch(0.8563 0.0653 25.5386);
  --accent-foreground: oklch(0.2108 0.1142 275.0885);
  --destructive: oklch(0.5401 0.0739 212.4903);
  --destructive-foreground: oklch(0.964 0.0045 34.3095);
  --border: oklch(0.9209 0.0124 29.8721);
  --input: oklch(0.9209 0.0124 29.8721);
  --ring: oklch(0.8563 0.0653 25.5386);
  --chart-1: oklch(0.9209 0.0124 29.8721);
  --chart-2: oklch(0.8563 0.0653 25.5386);
  --chart-3: oklch(0.6446 0.1907 12.487);
  --chart-4: oklch(0.5401 0.0739 212.4903);
  --chart-5: oklch(0.2108 0.1142 275.0885);
  --sidebar: oklch(0.9406 0.0017 67.8016);
  --sidebar-foreground: oklch(0.2108 0.1142 275.0885);
  --sidebar-primary: oklch(0.6446 0.1907 12.487);
  --sidebar-primary-foreground: oklch(0.964 0.0045 34.3095);
  --sidebar-accent: oklch(0.8563 0.0653 25.5386);
  --sidebar-accent-foreground: oklch(0.2108 0.1142 275.0885);
  --sidebar-border: oklch(0.9209 0.0124 29.8721);
  --sidebar-ring: oklch(0.8563 0.0653 25.5386);
}

.dark.theme-187 {
  --background: oklch(0.1883 0.1013 274.91);
  --foreground: oklch(0.964 0.0045 34.3095);
  --card: oklch(0.1883 0.1013 274.91);
  --card-foreground: oklch(0.964 0.0045 34.3095);
  --popover: oklch(0.1883 0.1013 274.91);
  --popover-foreground: oklch(0.964 0.0045 34.3095);
  --primary: oklch(0.6446 0.1907 12.487);
  --primary-foreground: oklch(0.964 0.0045 34.3095);
  --secondary: oklch(0.8563 0.0653 25.5386);
  --secondary-foreground: oklch(0.2108 0.1142 275.0885);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.8563 0.0653 25.5386);
  --accent-foreground: oklch(0.2108 0.1142 275.0885);
  --destructive: oklch(0.6284 0.1949 13.1504);
  --destructive-foreground: oklch(0.1888 0.0139 1.8685);
  --border: oklch(0.279 0.041 260.031);
  --input: oklch(0.279 0.041 260.031);
  --ring: oklch(0.8563 0.0653 25.5386);
  --chart-1: oklch(0.5401 0.0739 212.4903);
  --chart-2: oklch(0.6446 0.1907 12.487);
  --chart-3: oklch(0.8563 0.0653 25.5386);
  --chart-4: oklch(0.9209 0.0124 29.8721);
  --chart-5: oklch(0.964 0.0045 34.3095);
  --sidebar: oklch(0.1883 0.1013 274.91);
  --sidebar-foreground: oklch(0.964 0.0045 34.3095);
  --sidebar-primary: oklch(0.6446 0.1907 12.487);
  --sidebar-primary-foreground: oklch(0.964 0.0045 34.3095);
  --sidebar-accent: oklch(0.8563 0.0653 25.5386);
  --sidebar-accent-foreground: oklch(0.2108 0.1142 275.0885);
  --sidebar-border: oklch(0.279 0.041 260.031);
  --sidebar-ring: oklch(0.8563 0.0653 25.5386);
}
