.theme-218 {
  --background: oklch(0.9708 0.0067 277.1638);
  --foreground: oklch(0.1874 0.0343 282.5848);
  --card: oklch(0.9566 0.0067 286.2732);
  --card-foreground: oklch(0.2255 0.0423 282.4711);
  --popover: oklch(0.9566 0.0067 286.2732);
  --popover-foreground: oklch(0.2255 0.0423 282.4711);
  --primary: oklch(0.6171 0.1055 163.1237);
  --primary-foreground: oklch(0.9708 0.0067 277.1638);
  --secondary: oklch(0.8578 0.0309 83.6266);
  --secondary-foreground: oklch(0.1874 0.0343 282.5848);
  --muted: oklch(0.9499 0.0109 274.8921);
  --muted-foreground: oklch(0.4489 0.0828 269.9309);
  --accent: oklch(0.8578 0.0309 83.6266);
  --accent-foreground: oklch(0.3038 0.1015 267.8522);
  --destructive: oklch(0.8441 0.173 85.0728);
  --destructive-foreground: oklch(0.1874 0.0343 282.5848);
  --border: oklch(0.8578 0.0309 83.6266);
  --input: oklch(0.8578 0.0309 83.6266);
  --ring: oklch(0.6171 0.1055 163.1237);
  --chart-1: oklch(0.9482 0.0635 163.2464);
  --chart-2: oklch(0.7807 0.1333 163.0622);
  --chart-3: oklch(0.6171 0.1055 163.1237);
  --chart-4: oklch(0.4927 0.0843 162.7673);
  --chart-5: oklch(0.3217 0.0553 162.9828);
  --sidebar: oklch(0.9708 0.0067 277.1638);
  --sidebar-foreground: oklch(0.1874 0.0343 282.5848);
  --sidebar-primary: oklch(0.6171 0.1055 163.1237);
  --sidebar-primary-foreground: oklch(0.9708 0.0067 277.1638);
  --sidebar-accent: oklch(0.8578 0.0309 83.6266);
  --sidebar-accent-foreground: oklch(0.3038 0.1015 267.8522);
  --sidebar-border: oklch(0.8578 0.0309 83.6266);
  --sidebar-ring: oklch(0.6171 0.1055 163.1237);
}

.dark.theme-218 {
  --background: oklch(0.1874 0.0343 282.5848);
  --foreground: oklch(0.9708 0.0067 277.1638);
  --card: oklch(0.2255 0.0423 282.4711);
  --card-foreground: oklch(0.9499 0.0109 274.8921);
  --popover: oklch(0.2255 0.0423 282.4711);
  --popover-foreground: oklch(0.9499 0.0109 274.8921);
  --primary: oklch(0.6171 0.1055 163.1237);
  --primary-foreground: oklch(0.9708 0.0067 277.1638);
  --secondary: oklch(0.8578 0.0309 83.6266);
  --secondary-foreground: oklch(0.1874 0.0343 282.5848);
  --muted: oklch(0.2255 0.0423 282.4711);
  --muted-foreground: oklch(0.7004 0.0465 285.1366);
  --accent: oklch(0.3038 0.1015 267.8522);
  --accent-foreground: oklch(0.8578 0.0309 83.6266);
  --destructive: oklch(0.8441 0.173 85.0728);
  --destructive-foreground: oklch(0.1874 0.0343 282.5848);
  --border: oklch(0.3008 0.0555 282.5461);
  --input: oklch(0.3038 0.1015 267.8522);
  --ring: oklch(0.6171 0.1055 163.1237);
  --chart-1: oklch(0.9482 0.0635 163.2464);
  --chart-2: oklch(0.7807 0.1333 163.0622);
  --chart-3: oklch(0.6171 0.1055 163.1237);
  --chart-4: oklch(0.4927 0.0843 162.7673);
  --chart-5: oklch(0.3217 0.0553 162.9828);
  --sidebar: oklch(0.1874 0.0343 282.5848);
  --sidebar-foreground: oklch(0.9708 0.0067 277.1638);
  --sidebar-primary: oklch(0.6171 0.1055 163.1237);
  --sidebar-primary-foreground: oklch(0.9708 0.0067 277.1638);
  --sidebar-accent: oklch(0.3038 0.1015 267.8522);
  --sidebar-accent-foreground: oklch(0.8578 0.0309 83.6266);
  --sidebar-border: oklch(0.3008 0.0555 282.5461);
  --sidebar-ring: oklch(0.6171 0.1055 163.1237);
}
