.theme-223 {
  --background: oklch(0.9395 0.0027 106.4506);
  --foreground: oklch(0.2129 0.0506 242.1109);
  --card: oklch(0.9395 0.0027 106.4506);
  --card-foreground: oklch(0.2129 0.0506 242.1109);
  --popover: oklch(0.9395 0.0027 106.4506);
  --popover-foreground: oklch(0.2129 0.0506 242.1109);
  --primary: oklch(0.5047 0.1183 24.1885);
  --primary-foreground: oklch(0.9395 0.0027 106.4506);
  --secondary: oklch(0.7819 0.0907 49.2695);
  --secondary-foreground: oklch(0.2129 0.0506 242.1109);
  --muted: oklch(0.8284 0.0431 54.3137);
  --muted-foreground: oklch(0.3905 0.0794 239.6639);
  --accent: oklch(0.8284 0.0431 54.3137);
  --accent-foreground: oklch(0.2129 0.0506 242.1109);
  --destructive: oklch(0.6284 0.1949 13.1504);
  --destructive-foreground: oklch(0.9936 0.0034 354.6882);
  --border: oklch(0.8284 0.0431 54.3137);
  --input: oklch(0.8284 0.0431 54.3137);
  --ring: oklch(0.7819 0.0907 49.2695);
  --chart-1: oklch(0.8284 0.0431 54.3137);
  --chart-2: oklch(0.7819 0.0907 49.2695);
  --chart-3: oklch(0.5047 0.1183 24.1885);
  --chart-4: oklch(0.3905 0.0794 239.6639);
  --chart-5: oklch(0.2129 0.0506 242.1109);
  --sidebar: oklch(0.9395 0.0027 106.4506);
  --sidebar-foreground: oklch(0.2129 0.0506 242.1109);
  --sidebar-primary: oklch(0.3905 0.0794 239.6639);
  --sidebar-primary-foreground: oklch(0.9395 0.0027 106.4506);
  --sidebar-accent: oklch(0.8284 0.0431 54.3137);
  --sidebar-accent-foreground: oklch(0.2129 0.0506 242.1109);
  --sidebar-border: oklch(0.8284 0.0431 54.3137);
  --sidebar-ring: oklch(0.7819 0.0907 49.2695);
}

.dark.theme-223 {
  --background: oklch(0.2129 0.0506 242.1109);
  --foreground: oklch(0.9395 0.0027 106.4506);
  --card: oklch(0.2129 0.0506 242.1109);
  --card-foreground: oklch(0.9395 0.0027 106.4506);
  --popover: oklch(0.2129 0.0506 242.1109);
  --popover-foreground: oklch(0.9395 0.0027 106.4506);
  --primary: oklch(0.3905 0.0794 239.6639);
  --primary-foreground: oklch(0.9395 0.0027 106.4506);
  --secondary: oklch(0.7819 0.0907 49.2695);
  --secondary-foreground: oklch(0.2129 0.0506 242.1109);
  --muted: oklch(0.3905 0.0794 239.6639);
  --muted-foreground: oklch(0.7055 0.0014 106.436);
  --accent: oklch(0.5047 0.1183 24.1885);
  --accent-foreground: oklch(0.9395 0.0027 106.4506);
  --destructive: oklch(0.6284 0.1949 13.1504);
  --destructive-foreground: oklch(0.1888 0.0139 1.8685);
  --border: oklch(0.2881 0.0676 241.3568);
  --input: oklch(0.2881 0.0676 241.3568);
  --ring: oklch(0.3905 0.0794 239.6639);
  --chart-1: oklch(0.3905 0.0794 239.6639);
  --chart-2: oklch(0.5047 0.1183 24.1885);
  --chart-3: oklch(0.7819 0.0907 49.2695);
  --chart-4: oklch(0.8284 0.0431 54.3137);
  --chart-5: oklch(0.9395 0.0027 106.4506);
  --sidebar: oklch(0.2129 0.0506 242.1109);
  --sidebar-foreground: oklch(0.9395 0.0027 106.4506);
  --sidebar-primary: oklch(0.5047 0.1183 24.1885);
  --sidebar-primary-foreground: oklch(0.9395 0.0027 106.4506);
  --sidebar-accent: oklch(0.3905 0.0794 239.6639);
  --sidebar-accent-foreground: oklch(0.9395 0.0027 106.4506);
  --sidebar-border: oklch(0.2881 0.0676 241.3568);
  --sidebar-ring: oklch(0.3905 0.0794 239.6639);
}
