.theme-280 {
  --background: oklch(0.9488 0.0054 95.1013);
  --foreground: oklch(0.3129 0.0489 184.4968);
  --card: oklch(0.9256 0.0128 86.832);
  --card-foreground: oklch(0.3129 0.0489 184.4968);
  --popover: oklch(0.9256 0.0128 86.832);
  --popover-foreground: oklch(0.3129 0.0489 184.4968);
  --primary: oklch(0.4704 0.0746 152.2151);
  --primary-foreground: oklch(0.9761 0.0041 91.4461);
  --secondary: oklch(0.8456 0.0492 127.9979);
  --secondary-foreground: oklch(0.3554 0.0518 155.2718);
  --muted: oklch(0.9057 0.0164 95.2398);
  --muted-foreground: oklch(0.5604 0.0327 165.6472);
  --accent: oklch(0.7902 0.0723 220.212);
  --accent-foreground: oklch(0.2615 0.0356 183.178);
  --destructive: oklch(0.5902 0.1799 24.8697);
  --destructive-foreground: oklch(0.9761 0.0041 91.4461);
  --border: oklch(0.8849 0.0139 92.9967);
  --input: oklch(0.8849 0.0139 92.9967);
  --ring: oklch(0.5289 0.0943 152.2494);
  --chart-1: oklch(0.4704 0.0746 152.2151);
  --chart-2: oklch(0.7902 0.0723 220.212);
  --chart-3: oklch(0.8456 0.0492 127.9979);
  --chart-4: oklch(0.6811 0.0702 170.0645);
  --chart-5: oklch(0.5994 0.0496 204.7033);
  --sidebar: oklch(0.9256 0.0128 86.832);
  --sidebar-foreground: oklch(0.3129 0.0489 184.4968);
  --sidebar-primary: oklch(0.4704 0.0746 152.2151);
  --sidebar-primary-foreground: oklch(0.9761 0.0041 91.4461);
  --sidebar-accent: oklch(0.8952 0.0199 125.8433);
  --sidebar-accent-foreground: oklch(0.3554 0.0518 155.2718);
  --sidebar-border: oklch(0.8849 0.0139 92.9967);
  --sidebar-ring: oklch(0.5289 0.0943 152.2494);
}

.dark.theme-280 {
  --background: oklch(0.1769 0.0026 247.9754);
  --foreground: oklch(0.9667 0.0017 247.8394);
  --card: oklch(0.1769 0.0026 247.9754);
  --card-foreground: oklch(0.9667 0.0017 247.8394);
  --popover: oklch(0.1769 0.0026 247.9754);
  --popover-foreground: oklch(0.9667 0.0017 247.8394);
  --primary: oklch(0.7813 0.0252 199.848);
  --primary-foreground: oklch(0.1769 0.0026 247.9754);
  --secondary: oklch(0.8301 0.1097 66.2079);
  --secondary-foreground: oklch(0.1769 0.0026 247.9754);
  --muted: oklch(0.2919 0.0046 247.9859);
  --muted-foreground: oklch(0.7865 0.009 247.9412);
  --accent: oklch(0.3081 0.0636 242.1203);
  --accent-foreground: oklch(0.9667 0.0017 247.8394);
  --destructive: oklch(0.479 0.1942 24.9282);
  --destructive-foreground: oklch(0.9585 0.0207 13.855);
  --border: oklch(0.2919 0.0046 247.9859);
  --input: oklch(0.2919 0.0046 247.9859);
  --ring: oklch(0.8301 0.1097 66.2079);
  --chart-1: oklch(0.7813 0.0252 199.848);
  --chart-2: oklch(0.3081 0.0636 242.1203);
  --chart-3: oklch(0.8301 0.1097 66.2079);
  --chart-4: oklch(0.3193 0.1294 24.7997);
  --chart-5: oklch(0.2548 0.0634 22.6606);
  --sidebar: oklch(0.1769 0.0026 247.9754);
  --sidebar-foreground: oklch(0.9667 0.0017 247.8394);
  --sidebar-primary: oklch(0.7813 0.0252 199.848);
  --sidebar-primary-foreground: oklch(0.1769 0.0026 247.9754);
  --sidebar-accent: oklch(0.3081 0.0636 242.1203);
  --sidebar-accent-foreground: oklch(0.9667 0.0017 247.8394);
  --sidebar-border: oklch(0.2337 0.0049 248.0372);
  --sidebar-ring: oklch(0.8301 0.1097 66.2079);
}
