.theme-282 {
  --background: oklch(0.9653 0.0069 247.8959);
  --foreground: oklch(0.2921 0.0741 250.6356);
  --card: oklch(0.975 0.0069 247.8959);
  --card-foreground: oklch(0.2921 0.0741 250.6356);
  --popover: oklch(0.975 0.0069 247.8959);
  --popover-foreground: oklch(0.2921 0.0741 250.6356);
  --primary: oklch(0.4341 0.1035 253.5222);
  --primary-foreground: oklch(0.9653 0.0069 247.8959);
  --secondary: oklch(0.6325 0.1036 216.2875);
  --secondary-foreground: oklch(0.9653 0.0069 247.8959);
  --muted: oklch(0.952 0.0093 242.8394);
  --muted-foreground: oklch(0.5408 0.0403 243.5041);
  --accent: oklch(0.825 0.1203 170.8213);
  --accent-foreground: oklch(0.2921 0.0741 250.6356);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9143 0.0174 248.018);
  --input: oklch(0.9143 0.0174 248.018);
  --ring: oklch(0.8686 0.0271 246.3802);
  --chart-1: oklch(0.9295 0.1598 103.2848);
  --chart-2: oklch(0.825 0.1203 170.8213);
  --chart-3: oklch(0.6325 0.1036 216.2875);
  --chart-4: oklch(0.4341 0.1035 253.5222);
  --chart-5: oklch(0.2921 0.0741 250.6356);
  --sidebar: oklch(0.9653 0.0069 247.8959);
  --sidebar-foreground: oklch(0.2921 0.0741 250.6356);
  --sidebar-primary: oklch(0.4341 0.1035 253.5222);
  --sidebar-primary-foreground: oklch(0.9653 0.0069 247.8959);
  --sidebar-accent: oklch(0.825 0.1203 170.8213);
  --sidebar-accent-foreground: oklch(0.2921 0.0741 250.6356);
  --sidebar-border: oklch(0.9143 0.0174 248.018);
  --sidebar-ring: oklch(0.8686 0.0271 246.3802);
}

.dark.theme-282 {
  --background: oklch(0.2921 0.0741 250.6356);
  --foreground: oklch(0.9653 0.0069 247.8959);
  --card: oklch(0.2264 0.0561 250.1485);
  --card-foreground: oklch(0.9653 0.0069 247.8959);
  --popover: oklch(0.2264 0.0561 250.1485);
  --popover-foreground: oklch(0.9653 0.0069 247.8959);
  --primary: oklch(0.825 0.1203 170.8213);
  --primary-foreground: oklch(0.1789 0.0445 250.3699);
  --secondary: oklch(0.9295 0.1598 103.2848);
  --secondary-foreground: oklch(0.1789 0.0445 250.3699);
  --muted: oklch(0.3685 0.0929 250.3093);
  --muted-foreground: oklch(0.8053 0.0432 245.0614);
  --accent: oklch(0.6325 0.1036 216.2875);
  --accent-foreground: oklch(0.9653 0.0069 247.8959);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.341 0.0246 241.5312);
  --input: oklch(0.341 0.0246 241.5312);
  --ring: oklch(0.4428 0.0329 240.3994);
  --chart-1: oklch(0.9295 0.1598 103.2848);
  --chart-2: oklch(0.825 0.1203 170.8213);
  --chart-3: oklch(0.6325 0.1036 216.2875);
  --chart-4: oklch(0.4341 0.1035 253.5222);
  --chart-5: oklch(0.9653 0.0069 247.8959);
  --sidebar: oklch(0.2921 0.0741 250.6356);
  --sidebar-foreground: oklch(0.9653 0.0069 247.8959);
  --sidebar-primary: oklch(0.825 0.1203 170.8213);
  --sidebar-primary-foreground: oklch(0.1789 0.0445 250.3699);
  --sidebar-accent: oklch(0.6325 0.1036 216.2875);
  --sidebar-accent-foreground: oklch(0.9653 0.0069 247.8959);
  --sidebar-border: oklch(0.341 0.0246 241.5312);
  --sidebar-ring: oklch(0.4428 0.0329 240.3994);
}
